<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Received By Client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a th:href="@{/requests/employees-by-company}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg> Employees by Company </a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a th:href="@{/}" class="nav-link text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi d-block mx-auto mb-1 bi-house-fill" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
                                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z" />
                            </svg> Home </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-center">
            <div class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                <!--                FILLER-->
            </div>
            <div class="text-end">
                <a sec:authorize="isAnonymous()" th:href="@{/auth/login}" class="btn btn-light text-dark me-2">Login</a>
                <a sec:authorize="isAnonymous()" th:href="@{/auth/register}" class="btn btn-primary">Register</a>
                <form sec:authorize="isAuthenticated()" accept-charset="#" th:action="@{/logout}" method="POST">
                    <input class="btn btn-primary" type="submit" value="Logout">
                </form>
            </div>
        </div>
    </div>
</header>
<div class="container">

    <form th:action="@{/requests/employees-by-company}" method="POST">
        <div class="mb-3">
            <label class="mb-1 mt-2">Select Company</label>
            <select class="form-control" name="companyId">
                <option th:each="company : ${companyList}" th:value="${company.id}" th:text="${company.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary w-100 mb-3">Get Employees</button>
    </form>

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Birthdate</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employeeList}">
            <td th:text="${employee.firstName}" />
            <td th:text="${employee.lastName}" />
            <td th:text="${employee.birthDate}" />
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>