<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Logistic Company</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5" style="max-width:600px">
        <div class="row border rounded-top">
            <form action="#" th:action="@{/logistic-companies/save}" th:object="${logisticCompany}" method="POST">
                <div class="mb-3 mt-3">
                    <label>Logistic Company Name</label>
                    <input type="text" th:field="*{name}" class="form-control" required>
                </div>
                <div class="mb-3 mt-3">
                    <label>Address</label>
                    <input type="text" th:field="*{address}" class="form-control" required>
                </div>
                <!--            TODO Add Date Picker -->
                <div class="mb-3">
                    <label>Foundation Date</label>
                    <input type="text" th:field="*{foundationDate}" class="form-control" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100">Create</button>
                </div>
            </form>
            <a th:href="@{/logistic-companies/list}">Back to Logistic Companies List</a>
        </div>
    </div>
</body>
</html>